@font-face {
  font-family: "Rajdhani";
  src: url("./assets/fonts/Rajdhani-Regular.ttf") format("truetype");
}

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
