/* Navbar.css */
nav {
  background-color: #d6e5ff;
  color: #fff;
  padding: 2px 15px 2px 15px;
  height: 50px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  display: flex;
  flex: 1;
  height: 40px; /* Adjust the height as needed */
  width: auto;
}
.search-bar {
  display: flex;
  align-items: center;
}

input {
  padding: 5px;
  margin-right: 5px;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: none;
}

.search-bar input:hover {
  outline: none; /* Remove the outline on hover */
  box-shadow: none; /* Remove any box shadow on hover */
}

button {
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
}
